#app
  .form-horizontal
    .form-group
      label.col-md-2.control-label 入力
      .col-md-10
        input.form-control v-model="a"

javascript:
  new Vue({
    el: "#app",
    data: {a: ""},
    created: function() { this.reset() },
    watch: {
      a: function() { this.reset() },
    },
    methods: {
      reset: _.debounce(function() {
        document.location = "/"
      }, 1000 * 5),
    },
  })
